//* ======= Base style ======= */

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-primary;
  background-color: $color-background-primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ======= Typegraphy ======= */

h1{
  font-size: 40px;
  text-align: center;
}

h2{
  font-size: 1.25rem;
  margin: 0;
}

p{
  font-size: 1rem;
  margin: 0;
}

/* ======= Links ======= */

a {
  color:rgba(255, 255, 255, 0.87);
  cursor: pointer;

  &:hover,
  &:active{
    color: $link-primary-hover;
  }
}

/* ======= Images ======= */

img{
  margin-top: .5rem;
}

/* ======= Layout ======= */

.section__article{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  &-content{
    display: inline-flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 1rem;
  }
}

/* ======= Dark mode ======= */

.darkmode{
  background-color: $darkmode-background;
  color: $darkmode-color;
  a {
    color: $darkmode-color;

    &:hover,
    &:active {
      color: $link-darkmode-hover;
    }
  }
}
 