/* ======= Primary color ======= */
$color-primary: rgba(255, 255, 255, 87%);
$color-background-primary: #242424;

/* ======= Link color ======= */
$link-primary-hover: rgb(85, 85, 218);
$link-darkmode-hover: rgb(85, 85, 218);

/* ======= Theme color ======= */
$darkmode-background: antiquewhite;
$darkmode-color: #242424;